# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Gourou Manager.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Programmation\Workspace\Unity\GourouManager\Gourou Manager\.idea\.idea.Gourou Manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
